<div class = 'index_key_types'>
  <h2 class = 'page_header'><%= t('.header')%></h2>
  <div class = 'nav_and_form'>    
    <div class = 'block_navigate'>
      <a href="/" class="nav_botr"><%= t('.to_main') %></a>
    </div>
    <div class = 'form'>      
      <%= render 'form' %>
    </div>
   </div>
 </div>

