<div class = 'new_product_key'>
  <h2 class = 'page_header_new_key'><%= t('.header')%></h2>
  <div class = 'block_navigate'>
      <a href="/" class="nav_botr"><%= t('.on_header') %></a>
  </div>
  
  <div class = 'form_common'>
   <%= render 'form_edit' %>
  </div>


</div>