<div class = 'new_product_key'>
  <h2 class = 'page_header_new_key'><%= t('.header')%></h2>
  <div class = 'block_navigate'>
        <%= button_to t('.on_header'), root_path, method: :get,
        class: "nav_botr", params: { lang: I18n.locale } %>
    </div>

  <h3 class = 'page_header_new_key_client'><%= Client.find(@client_id).name %></h3>
  


  <div class = 'form_common'>
   <%= render 'form' %>
  </div>


</div>

  