<div class = 'new_product_key'>
 <div class = 'block_navigate_edit'>
      <a href="/" class="nav_bot_edit"><%= t('.to_main') %></a>
</div>      

  <h3 class = 'assign_free_key_h'><%= t('.header')%></h3>

  <div class = 'block_navigate_edit'>
      <div class = 'form_common'>
      <%= render 'form' %>
      </div>
  </div>
  </div>
</div>