<div class = 'new_product_key'>
 <div class = 'block_navigate'>
        <%= button_to t('.on_header'), root_path, method: :get,
        class: "nav_botr", params: { lang: I18n.locale } %>
    </div>    

  <h3 class = 'assign_free_key_h'><%= t('.header')%></h3>

  <div class = 'block_navigate_edit'>
      <div class = 'form_common'>
      <%= render 'form' %>
      </div>
  </div>
  </div>
</div>