<div class = 'edit_client'>
  <h2 class = 'page_header'><%= t('.header')%></h2>
  
  <div class = 'nav_and_form'>
    <div class = 'block_navigate'>
        <%= button_to t('.on_header'), root_path, method: :get,
        class: "nav_botr", params: { lang: I18n.locale } %>
    </div>

    <div class = 'form'>
      <%= render 'form' %>
    </div>
  </div>
</div>