<div class = 'new_client'>
  <h2 class = 'page_header'><%= t('.header')%></h2>
  <div class = 'block_navigate'>
    <a href="/" class="nav_botr"><%= t('.new_client') %></a>
  </div>

  <div class = 'form_test'>
    <%= render 'form' %>
  </div>
</div>