<div class = 'g_head'><%= t('.head') %></div>
<p>
<p>
<a href="clients/new" class="botr"><%= t('.new_client') %></a>
<a href="product_keys/new" class="botr"><%= t('.clients') %></a>
<a href="#" class="botr"><%= t('.keys') %></a>