a.nav_botr_ck{
    position: absolute;
    display: flex;
    align-self: center;
    float: left;
    background:#fff;
    width:150px;
    display:block;
    height:20px;
    padding-top:10px;
    border:1px solid #000;
    font-family: 'Dosis', sans;
    font-size: 12px;
    font-weight:200;
    color:#000;
    text-transform:uppercase;
    text-decoration:none;
    text-align:center;
    opacity:.8;
    margin-top: -50px;
    letter-spacing: 1px;
      -webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.450, 0.450);
     -moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.450, 0.450);
       -o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.450, 0.450);
          transition: all 300ms cubic-bezier(0.250, 0.250, 0.450, 0.450); /* linear */
  }
  a.nav_botr_ck:hover{
    width:150px;
    height:20px;
    padding-top:10px;
    border:1px solid teal;
    background:rgba(138, 134, 199, 0.295);
    opacity:1;
    letter-spacing: 3px;
    -webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.450, 0.450);
     -moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.450, 0.450);
       -o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.450, 0.450);
          transition: all 300ms cubic-bezier(0.250, 0.250, 0.450, 0.450); /* linear */
  }