.client_table { text-align: center;
    padding: 10px 0;
    font-size: 18px; 
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    margin: auto;
    margin-top: 30px;
    overflow-wrap: break-word;
  }

  .th_table_show_head {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    background:rgb(238, 236, 236);
    font-family: 'Dosis', sans;
    font-size: 16px;
    letter-spacing: 1px;
 }

 .th_table_show {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    background:rgb(255, 255, 255);
    font-family: 'Dosis', sans;
    font-size: 15px;
    letter-spacing: 1px;
 }