// Place all the styles related to the Key_Types controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.edit {
   text-decoration: none;
}

.th_table_show_comment {
   border: 1px solid rgb(0, 0, 0);
   border-collapse: collapse;
   background:rgb(255, 255, 255);
   font-family: 'Dosis', sans;
   font-size: 16px;
   letter-spacing: 1px;
   padding: 10px;
}

.th_table_show_edit {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    background:rgb(255, 255, 255);
    font-family: 'Dosis', sans;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
 }

 .th_table_show_edit:hover {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    background:rgba(247, 233, 48, 0.616);
    font-family: 'Dosis', sans;
    font-size: 16px;
    letter-spacing: 1px;
    -webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
      -o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
         transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
 }

 .th_table_show_delete {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    background:rgb(255, 255, 255);
    font-family: 'Dosis', sans;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
 }

 .th_table_show_delete:hover {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    background:rgba(233, 46, 46, 0.616);
    font-family: 'Dosis', sans;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: underline;
    -webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
      -o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
         transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
 }

 .but_new_key_type {
   padding-top: 30px;
 }

 .indent {
   padding-top: -5px;
 }

 .th_table_show_edit {
   border: 1px solid rgb(0, 0, 0);
   border-collapse: collapse;
   background:rgb(255, 255, 255);
   font-family: 'Dosis', sans;
   font-size: 16px;
   letter-spacing: 1px;
   text-decoration: none;
}

.th_table_show_info {
   border: 1px solid rgb(0, 0, 0);
   border-collapse: collapse;
   background:rgba(250, 250, 51, 0.671);
   font-family: 'Dosis', sans;
   font-size: 16px;
   letter-spacing: 1px;
   text-decoration: none;
}