<div class = 'box'>
  <div class = 'box_header'>
     <h2 ><%= t('.header')%></h2>
  </div>

  <div class = 'box_nav'>
    <a href="/" class="nav_botr"><%= t('.to_main') %></a>
  </div>

  <div class = 'box_form'>      
    <%= render 'form' %>
  </div>
  
</div>



