<div class = 'box'>
  <h2 class = 'box_header'><%= t('.header')%></h2>
  <div class = 'box_nav'>
    <a href="/" class="nav_botr"><%= t('.to_main') %></a>
  </div'> 
    <div class = 'box_form'>      
      <%= render 'form' %>
    </div>
   </div>
 </div>

